<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>230298685826-afv3tqvfiua91jpbkjemo1kmhf0oaf40.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.230298685826-afv3tqvfiua91jpbkjemo1kmhf0oaf40</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>230298685826-360a7kvnu3be3am70erjpmkrhcb6u0mh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyABCY9FWEMytXOxD97d-lX4hpPCRHy2fQ8</string>
	<key>GCM_SENDER_ID</key>
	<string>230298685826</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vacationApp</string>
	<key>PROJECT_ID</key>
	<string>vacation-app-5f115</string>
	<key>STORAGE_BUCKET</key>
	<string>vacation-app-5f115.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:230298685826:ios:f00cbb37edcd3119cdff9b</string>
	<key>DATABASE_URL</key>
	<string>https://vacation-app-5f115-default-rtdb.firebaseio.com</string>
</dict>
</plist>